/*nav bar----*/

    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #ffffff !important;
    }
    
    .navbar {
        color: #F103FB;
    }
    
    .navbar.nav-sticky  {
        color: #F103FB;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
       font-family: 'Merienda', cursive;
        color: #ffffff;
        font-size: 15px;
       
		text-transform:uppercase;
		letter-spacing:2px;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #F103FB;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #F103FB;
    }
}


/*banner----*/

.carousel-item {
	height: 100vh;
	min-height: 590px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-caption h5 {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Trade Winds', cursive;
	color:#fff;

}


.button{
	color:#fff;
}

.carousel-caption h4 {
	font-size: 35px;
	letter-spacing: 2px;
	font-family: 'Trade Winds', cursive;
	color:#fff;	
}

.carousel-caption p {
	font-size: 15px;
	font-family: 'Merienda', cursive;
	color:#fff;	
}

.btn-default{
	color:#000;
	border: solid #F103FB 1px;
	font-family: 'Merienda', cursive;
 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	
	background-color: #F103FB;
	color:#FFF;
	border-color: #F103FB;
 
}

 
.btn-default1:hover, .btn-default1:focus, .btn-default1:active, .btn-default1.active, .open .dropdown-toggle.btn-default {
	 background-color: #F103FB;
	color:#FFF; 
	border-color: #F103FB;
 
}
	
.btn-default1{
	
	color:#fff;
	border: solid #F103FB 1px;
 
	font-family: 'Merienda', cursive;
}



.heading h5{
    text-align:center;
	font-size: 40px;
	font-family: 'Trade Winds', cursive;
	letter-spacing:4px;
}


.product-inner h5{
	 text-align:center;
	font-size: 35px;
	font-family: 'Trade Winds', cursive;
	letter-spacing:3px;	
}

.product-inner{
margin:20px;

}




.product-inner p{
	text-align:center;
	font-family: 'Merienda', cursive;
	
}
.product-inner h4{	
	text-align:center;
	font-size: 20px;
	font-family: 'Merienda', cursive;
	font-weight:bold;	
	padding-top:10px;
	
}
.product-inner #button{
text-align:center;
font-family: 'Merienda', cursive;
}	
	
.grid2x2 {
	  min-height: 100%;
	  display: flex;
	  flex-wrap: wrap;
	  flex-direction: row;
}
.grid2x2 > div {
	  display: flex; 
	  flex-basis: calc(50% - 40px);  
	  justify-content: center;
	  flex-direction: column;
}
.grid2x2 > div > div {
		  display: flex;
		  justify-content: center;
		  flex-direction: row;
}

.box { margin: 20px; }

.box h5{
	text-align:center;
	font-size: 30px;
font-family: 'Trade Winds', cursive;
	
	letter-spacing:3px;
	text-transform:uppercase;
}
.box p{
	font-family: 'Merienda', cursive;
}
	

/* footer----*/

.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: rgba(0, 0, 0, .04);
}

.footer-working,.footer-form{
	font-family: 'Merienda', cursive;
}
	


.footer .footer-contact,
.footer .footer-working
.footer {
    position: relative;
    margin-bottom: 45px;
    color: #000000;
	font-family: 'Merienda', cursive;
}

.footer .footer-contact h2,
.footer .footer-working h2,
.footer .footer-form h2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 22px;
    color: #000;
	font-family: 'Trade Winds', cursive;
}

.footer .footer-contact h2::after,
.footer .footer-working h2::after,
.footer .footer-form h2::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #F103FB;
}

.footer .footer-working a {
    display: block;
    margin-bottom: 10px;
    color: #F103FB;
    transition: .3s;
}

.footer .footer-working a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #F103FB;
}

.footer .footer-working a:hover {
    color: #F103FB;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
    
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
	
}

.footer .footer-social a {
    display: inline-block;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #F103FB 1px;
    font-size: 16px;
	color:#000;
    
	
}

.footer .footer-social a:hover {
    background: #F103FB;
	 color: #000000;
}


.footer .footer-social a:last-child {
    margin: 0;
	 color: #000000;
}

.btn-default2
 
{
  
color:#000;
 font-family: 'Merienda', cursive;
 border: solid #F103FB 1px;
 
}
 
.btn-default2:hover, .btn-default1:focus, .btn-default2:active, .btn-default2.active, .open .dropdown-toggle.btn-default {
 
 
 
background-color: #F103FB;
 
color:#FFF;
 
border-color: #F103FB;
 
}




.footer .copyright {
    position: relative;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #ffffff;
}

.footer .copyright p {
    margin: 0;
    display: inline-block;
    color: #000;
	font-family: 'Merienda', cursive;
}

.footer .copyright p a {
    color: #F103FB;
}

.footer .copyright p a:hover {
    color: #F103FB;
}